<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      >

    <h:head>
        <title><ui:insert name="customTitle"></ui:insert></title>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <h:outputStylesheet library="css" name="bootstrap.min.css"/>
        <h:outputStylesheet library="css" name="bootstrap-theme.min.css"/>

        <h:outputScript library="primefaces" name="jquery/jquery.js"/>
        <ui:insert name="customHead"/>

    </h:head>

    <h:body>
        <div class="container">
            <ui:insert name="customBody" class="custom_body"></ui:insert>
        </div>

        <!--<h:outputScript library="js" name="jquery.js"/>-->
        <h:outputScript library="js" name="bootstrap.min.js"/>
        <ui:insert name="customScripts"></ui:insert>
    </h:body>

</html>