<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/templates/masterLayout.xhtml">

    <ui:define name="customTitle">Parkolás - #{request.getParameter("carPlateNumber")}</ui:define>

    <ui:define name="customHead">
    </ui:define>

    <ui:define name="customBody">
        <h:form id="form">
            <p:growl id="growl" life="2000" showDetail="true" showSummary="false" />
            
            <p:panel header="Autó részletek" style="margin-bottom:20px">
                <h:panelGrid columns="2" cellpadding="10">
                    <h:outputText value="Rendszám:" />
                    <h:outputText value="#{carDetailsView.car.licensePlateNumber}" />
                    <h:outputText value="Márka:" />
                    <h:outputText value="#{carDetailsView.car.brand}" />
                    <h:outputText value="Típus:" />
                    <h:outputText value="#{carDetailsView.car.type}" />
                    <h:outputText value="Szín:" />
                    <h:outputText value="#{carDetailsView.car.color}" />
                </h:panelGrid>
            </p:panel>

            <p:panel header="Aktív parkolás részletei" style="margin-bottom:20px"
                     rendered="#{carDetailsView.activeParking != null}">
                <h:panelGrid columns="2" cellpadding="10">
                    <h:outputText value="Parkoló:" />
                    <h:outputText value="#{carDetailsView.activeParking.parkingNumber + 1}" />
                    <h:outputText value="Mettől:" />
                    <h:outputText value="#{dateTimeFormatter.format(carDetailsView.activeParking.from)}" />
                    <h:outputText value="Meddig:" />
                    <h:outputText value="#{dateTimeFormatter.format(carDetailsView.activeParking.to)}" />
                </h:panelGrid>
            </p:panel>

            <p:panel header="Autó parkolása" style="margin-bottom:20px"
                     rendered="#{carDetailsView.activeParking == null}">
                <p:commandButton oncomplete="PF('parkingDialog').show()" value="Parkolás" />
            </p:panel>

            <p:button outcome="index" value="Vissza" />

        </h:form>

        <h:form id="parkingDetailsForm">
            <p:dialog header="Parkolás" widgetVar="parkingDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                <p:outputPanel id="parkingDetails" style="text-align:center;">
                    <p:panelGrid  columns="2" rendered="#{not empty parkingView.selectedCar}"
                                  style="width: 100%">
                        <h:outputText value="Autó rendszáma:" />
                        <h:outputText value="#{parkingView.selectedCar.licensePlateNumber}" />
                    </p:panelGrid>
                    <p:tabView id="parkingDetailsTabView">
                        <p:ajax event="tabChange" listener="#{parkingView.onTabChange}" update="parkingDetailsTabView"/>

                        <p:tab title="Parkoló 1">
                            <h:panelGrid columns="2" cellpadding="10" style="width: 100%">
                                <h:outputText value="Parkoló:" />
                                <h:outputText value="1" />

                                <h:outputText value="Mettől:" />
                                <h:outputText value="most" />

                                <h:outputText value="Meddig (óra):" />
                                <h:panelGrid columns="1" cellpadding="10">
                                    <p:slider for="to_hours" minValue="1" maxValue="24">
                                        <p:ajax event="slideEnd" listener="#{parkingView.onSlideEnd}" />
                                    </p:slider>
                                    <p:inputText id="to_hours" value="#{parkingView.toHours}" readonly="true" maxlength="4" />
                                </h:panelGrid>
                            </h:panelGrid>
                        </p:tab>
                        <p:tab title="Parkoló 2">
                            <h:panelGrid columns="2" cellpadding="10" style="width: 100%">
                                <h:outputText value="Parkoló:" />
                                <h:outputText value="2" />

                                <h:outputText value="Mettől:" />
                                <h:outputText value="most" />

                                <h:outputText value="Meddig (óra):" />
                                <h:panelGrid columns="1" cellpadding="10">
                                    <p:slider for="to_hours2" minValue="1" maxValue="24">
                                        <p:ajax event="slideEnd" listener="#{parkingView.onSlideEnd}" />
                                    </p:slider>
                                    <p:inputText id="to_hours2" value="#{parkingView.toHours}" readonly="true" maxlength="4" />
                                </h:panelGrid>
                            </h:panelGrid>
                        </p:tab>
                        <p:tab title="Parkoló 3">
                            <h:panelGrid columns="2" cellpadding="10" style="width: 100%">
                                <h:outputText value="Parkoló:" />
                                <h:outputText value="3" />

                                <h:outputText value="Mettől:" />
                                <h:outputText value="most" />

                                <h:outputText value="Meddig (óra):" />
                                <h:panelGrid columns="1" cellpadding="10">
                                    <p:slider for="to_hours3" minValue="1" maxValue="24">
                                        <p:ajax event="slideEnd" listener="#{parkingView.onSlideEnd}" />
                                    </p:slider>
                                    <p:inputText id="to_hours3" value="#{parkingView.toHours}" readonly="true" maxlength="4" />
                                </h:panelGrid>
                            </h:panelGrid>
                        </p:tab>
                    </p:tabView>
                    <p:commandButton actionListener="#{carDetailsView.saveParking()}" update="form" value="Mentés" style="margin-top: 10px"/>
                </p:outputPanel>
            </p:dialog>
        </h:form>


    </ui:define>

    <ui:define name="customScripts">
    </ui:define>
</ui:composition>