<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/templates/masterLayout.xhtml">

    <ui:define name="customTitle">Parkolás</ui:define>

    <ui:define name="customHead">
    </ui:define>

    <ui:define name="customBody">
        <h:form id="form">
            <p:growl id="growl" life="2000" showDetail="true" showSummary="false" />

            <p:dataTable id="carsTable" var="car" value="#{carTableView.cars}"  rows="10"
                         paginator="true"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         rowsPerPageTemplate="5,10,15">

                <f:facet name="header">
                    Autók
                </f:facet>

                <p:column headerText="Rendszám">
                    <h:outputText value="#{car.licensePlateNumber}" />
                </p:column>

                <p:column headerText="Márka">
                    <h:outputText value="#{car.brand}" />
                </p:column>

                <p:column headerText="Típus">
                    <h:outputText value="#{car.type}" />
                </p:column>

                <p:column headerText="Szín">
                    <h:outputText value="#{car.color}" />
                </p:column>

                <p:column style="text-align: center;">
                    <p:button outcome="cardetails" icon="fa fa-ellipsis-h">
                        <f:param name="carPlateNumber" value="#{car.licensePlateNumber}"/>
                    </p:button>

                    <p:commandButton update=":parkingDetailsForm" oncomplete="PF('parkingDialog').show()" value="Parkolás">
                        <f:setPropertyActionListener value="#{car}" target="#{parkingView.selectedCar}" />
                    </p:commandButton>

                    <p:commandButton update="form" actionListener="#{carTableView.deleteRow(car)}" icon="fa fa-trash" />
                </p:column>

                <f:facet name="footer">
                    <p:outputPanel style="text-align: right;">
                        <p:commandButton oncomplete="PF('addCarDialog').show()" value="Autó hozzáadása" />
                    </p:outputPanel>
                </f:facet>
            </p:dataTable>
        </h:form>

        <h:form id="parkingDetailsForm">
            <p:dialog header="Parkolás" widgetVar="parkingDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                <p:outputPanel id="parkingDetails" style="text-align:center;">
                    <p:panelGrid  columns="2" rendered="#{not empty parkingView.selectedCar}"
                                  style="width: 100%">
                        <h:outputText value="Autó rendszáma:" />
                        <h:outputText value="#{parkingView.selectedCar.licensePlateNumber}" />
                    </p:panelGrid>
                    <p:tabView id="parkingDetailsTabView">
                        <p:ajax event="tabChange" listener="#{parkingView.onTabChange}" update="parkingDetailsTabView"/>

                        <p:tab title="Parkoló 1">
                            <h:panelGrid columns="2" cellpadding="10" style="width: 100%">
                                <h:outputText value="Parkoló:" />
                                <h:outputText value="1" />

                                <h:outputText value="Mettől:" />
                                <h:outputText value="most" />

                                <h:outputText value="Meddig (óra):" />
                                <h:panelGrid columns="1" cellpadding="10">
                                    <p:slider for="to_hours" minValue="1" maxValue="24">
                                        <p:ajax event="slideEnd" listener="#{parkingView.onSlideEnd}" />
                                    </p:slider>
                                    <p:inputText id="to_hours" value="#{parkingView.toHours}" readonly="true" maxlength="4" />
                                </h:panelGrid>
                            </h:panelGrid>
                        </p:tab>
                        <p:tab title="Parkoló 2">
                            <h:panelGrid columns="2" cellpadding="10" style="width: 100%">
                                <h:outputText value="Parkoló:" />
                                <h:outputText value="2" />

                                <h:outputText value="Mettől:" />
                                <h:outputText value="most" />

                                <h:outputText value="Meddig (óra):" />
                                <h:panelGrid columns="1" cellpadding="10">
                                    <p:slider for="to_hours2" minValue="1" maxValue="24">
                                        <p:ajax event="slideEnd" listener="#{parkingView.onSlideEnd}" />
                                    </p:slider>
                                    <p:inputText id="to_hours2" value="#{parkingView.toHours}" readonly="true" maxlength="4" />
                                </h:panelGrid>
                            </h:panelGrid>
                        </p:tab>
                        <p:tab title="Parkoló 3">
                            <h:panelGrid columns="2" cellpadding="10" style="width: 100%">
                                <h:outputText value="Parkoló:" />
                                <h:outputText value="3" />

                                <h:outputText value="Mettől:" />
                                <h:outputText value="most" />

                                <h:outputText value="Meddig (óra):" />
                                <h:panelGrid columns="1" cellpadding="10">
                                    <p:slider for="to_hours3" minValue="1" maxValue="24">
                                        <p:ajax event="slideEnd" listener="#{parkingView.onSlideEnd}" />
                                    </p:slider>
                                    <p:inputText id="to_hours3" value="#{parkingView.toHours}" readonly="true" maxlength="4" />
                                </h:panelGrid>
                            </h:panelGrid>
                        </p:tab>
                    </p:tabView>
                    <p:commandButton actionListener="#{parkingView.save()}" update=":form:growl" value="Mentés" style="margin-top: 10px"/>
                </p:outputPanel>
            </p:dialog>
        </h:form>

        <h:form id="addCarForm">
            <p:dialog header="Autó hozzáadása" widgetVar="addCarDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                <p:outputPanel style="text-align:center;">
                    <p:panelGrid  columns="2">
                        <h:outputLabel for="addCarPlateNumber" value="Renszám:" />
                        <p:inputText id="addCarPlateNumber" value="#{addCarView.car.licensePlateNumber}" required="true"
                                     requiredMessage="A rendszám mező kitöltése kötelező!" />
                        <h:outputLabel for="addCarBrand" value="Márka:" />
                        <p:inputText  id="addCarBrand" value="#{addCarView.car.brand}" required="true"
                                     requiredMessage="A márka mező kitöltése kötelező!" />
                        <h:outputLabel for="addCarType" value="Típus:" />
                        <p:inputText id="addCarType" value="#{addCarView.car.type}" required="true"
                                     requiredMessage="A típus mező kitöltése kötelező!" />
                        <h:outputLabel for="addCarColor" value="Szín:" />
                        <p:inputText id="addCarColor" value="#{addCarView.car.color}" required="true"
                                     requiredMessage="A szín mező kitöltése kötelező!" />
                    </p:panelGrid>
                </p:outputPanel>
                <p:outputPanel style="text-align: right;">
                    <p:commandButton value="Mentés" update="form" actionListener="#{carTableView.addCarToList()}"
                                     styleClass="ui-priority-primary" />
                </p:outputPanel>
            </p:dialog>

            <p:dialog header="Hiba" widgetVar="addCarErrorDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                <h:outputText value="A megadott rendszám már benne van az adatbázisban!" />
            </p:dialog>

        </h:form>
    </ui:define>

    <ui:define name="customScripts">
    </ui:define>
</ui:composition>